[Desktop Entry]
Type=Application
Name={{.DisplayName}}
Comment=Start the {{.VMName}} VM and connect via Looking Glass
Exec={{.Exe}} vm launch --vm-name {{.VMName}}
Icon=computer
Terminal=false
Categories=System;
